$white: #FFFFFF;
$card_white: #FFFBF6;
$cream_bg: #F8E9DD;
$brown_medium: #92857A;
$brown_dark: #382314;
$cyan: #76B5BC;
$cyan_hover: #B4E0E5;
$red: #EC755D;
$red_hover: #FF9B86;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');